[Desktop Entry]
Encoding=UTF-8
Name=Mime Gate
GenericName=mime gate
Comment=Mime editor for Gatter Linux
Icon=mime-gate
Exec=mime-gate
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
